<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ap.plantuiapp" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/plantuilauncher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".bluetooth"
            android:label="@string/title_activity_bluetooth" >
            <intent-filter>
                <action android:name="ap.plantuiapp.bluetooth" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Timer"
            android:label="@string/title_activity_timer" >
            <intent-filter>
                <action android:name="ap.plantuiapp.Timer" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".timermenu"
            android:label="@string/title_activity_timer" >
            <intent-filter>
                <action android:name="ap.plantuiapp.timermenu" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".blueled"
            android:label="@string/title_activity_blueled" >
            <intent-filter>
                <action android:name="ap.plantuiapp.blueled" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".redled"
            android:label="@string/title_activity_redled" >
            <intent-filter>
                <action android:name="ap.plantuiapp.redled" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".greenled"
            android:label="@string/title_activity_greenled" >
            <intent-filter>
                <action android:name="ap.plantuiapp.greenled" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".grid"
            android:label="@string/title_activity_grid" >
            <intent-filter>
                <action android:name="ap.plantuiapp.grid" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
